/*SIGNIN MAIN*/
body{
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* #securityInfo{
    display: none;
} */

#infoBox{
    display: none;
    margin: 15px;
    padding: 15px;
    background-color: #c7c7e6;
}

#signin-display{
    display: flex;
    flex-wrap: wrap;
    margin:30px;
}

#signup-display{
    display: flex;
    flex-wrap: wrap;
    margin:30px;
}

#signin-title{
    font-family: 'Reddit Mono', 'sans-serif';
    text-align: center;
    margin: 3vh 1vw 3vh 1vw;
}
#signup-title{
    font-family: 'Reddit Mono', 'sans-serif';
    text-align: center;

}

#signin-form{
    margin: 20px auto;
    width:45vw;
    height: 45vh;
    padding: 0;
    background-color: #69584f;
    color:white;
    border-radius: 8%/10%;
    max-width: 560px;
}

#signup-form{
    margin: 20px auto;
    width:40%;
    padding: 50px 30px 30px 30px;
    background-color: #69584f;
    color:white;
}

form input{
    width: 80%;
    height: 4.3vh;
    border-radius : 0.9vw;
    font-family: Arial, sans-serif;
}

form label{
    width: 80%;
    margin-left: 1vw;
    margin-bottom: 0.6vw;
    font-family: Arial, sans-serif;
}

.parent-input{
    margin: 25px 0px 25px 4.2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#parent-button{
    display: flex;
    flex-direction: column;
    margin: 3.2vh 0px;
}

#parent-button button{
    align-self: center;
    padding: 15px;
    background-color: #8d7c7f;
    border: 3px solid black;
    padding: 2.5vw;
    border-radius : 1.5vw;
}

@media screen and (max-width: 1286px){
    #signin-form{
        width:50vw;
        height: auto;
    }
}

@media screen and (max-width: 980px){
    #signin-form{
        width:55vw;
        height: auto;
    }
}

@media screen and (max-width: 900px){
    #signin-form{
        width:60vw;
        height: auto;
    }
}

@media screen and (max-width: 800px){
    #signin-form{
        width:65vw;
        height: auto;
    }
}

@media screen and (max-width: 580px){
    #signin-form{
        width:80vw;
        height: auto;
    }

    #signin-display{
        margin: 0;
    }
}

@media screen and (max-width: 480px){
    #signin-form{
        width:100vw;
        height: auto;
        border-radius: 0;
    }
}