@font-face{
    font-family:'Reddit Mono';
    src: url('./Polices/Reddit_Mono/static/RedditMono-Medium.ttf')
}

@font-face{
    font-family: 'Arial';
    src:url('./Polices/Arial-font/arial_mt_black/ARIBL0.ttf')
}

body{
    margin: 10px;
}


h1{
    font-size: 64px;
}

/* HEADER */
#logo{
    height:55px;
    padding: 0px;
    margin:10px 0px 2px 0px;
}

.navigationMenu{
    background-color: #4B4F40;
    font-family: Arial, sans-serif;
    /*Ci-dessous : ajout pour menu burger responsive*/
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.navigationMenu ol{
    list-style-type: none;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 12px;
}

.navigationMenu a.icon{
    display: none;
}

.toPage{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.toPage a{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    
}


.toPage a span{
    display: block;
    margin: 30px 0px  10px 0px;
}

/* MAIN */

/*Bandeau*/
.imageInBg{
    background-image: url("img/home-grand-prismatic-spring.jpg");
    background-repeat: no-repeat;
    height: 50vw;
    display: flex;
    margin: 50px 35px;
}

.textOverImage{
    background-color: rgba(217, 217, 217, 0.6);
    text-align: center;
    margin: auto;
    padding : 30px 100px;
    font-size: 50px;
    font-family: 'Reddit Mono', sans-serif;
    font-weight: bold;
    display: inline-bock;
    width: 70%;
}

/*Menu*/
.pagesMenu{
    display:flex;
    flex-wrap: wrap;
    margin: 30px;
}

.pageTeaser{
    display: flex;
    flex-direction: row;
    margin: 30px 40px;
    width: 43%;

}

h2{
    font-family: 'Reddit Mono', 'sans-serif';
    margin: 0px 0px 10px 0px;

}


.imageBox img{
    height: 150px;
    width: 200px;
    margin: 0px auto;
    object-fit: cover;
    background-color: #C7C7E6;
    border: solid black 2px;
}

.background img{
    background-color: #C7C7E6;
    object-fit: contain;
}


.textBox{
    text-wrap: wrap;
    margin-left: 30px;
}

.textBox p{
    margin: 0px;
    text-align: justify;
}

/*Responsive*/
@media screen and (max-width: 1219px){
    /*Bandeau*/
    h1{
        font-size: 55px;
    }
    /*Menu*/
    .pagesMenu{
        flex-direction: column;
        flex-wrap: nowrap;
        width:100%;
        margin-bottom: 30px;
    }
    .pageTeaser{
        width: 70%;
    }
    .odd{
        background-color: #8D7C7F;
        align-self: self-start;
    }
    .even{
        background-color: #9FA290;
        align-self: self-end;
    }
    h2{
        margin: 15px 0px 12px 0px;
    }
    .imageBox{
        padding : 0px;
    }
    .textBox{
        padding : 0px 20px;
        
    }

}

@media screen and (max-width: 980px){
    /*Bandeau*/
    h1{
        font-size: 48px;
    }
    .imageInBg{
        background-image: url('img/home-grand-prismatic-spring-smaller25.jpg');
    }
    /*Menu*/
    .pagesMenu{
        flex-direction : row;
        flex-wrap: wrap;
    }
    .odd{
        flex-direction : column;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .even{
        flex-direction: column-reverse;
        margin-top: 100px;
        margin-bottom: 0px;
        
    }
    .pageTeaser{
        width: 40vw;

    }
    .imageBox{
        width:44,5vw;
        height:30vw;
        border: solid black 2px;
    }
    .pageTeaser .imageBox img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border : none;
    }

    .pageTeaserBg .imageBox{
        background-color: #C7C7E6;
        display : flex;
    }
    .pageTeaserBg .imageBox img{
        width: auto;
        object-fit: contain;
        margin : 0px auto;
    }

    .textBox{
        margin: 10px;
        padding:15px;
        height:200px;
    }
}

@media screen and (max-width: 900px){
    /*Bandeau*/
    h1{
        font-size: 36px;
    }
    .textOverImage{
        width : 48vw;
    }
    .imageInBg{
        background-image: url('img/home-grand-prismatic-spring-smaller50.jpg');
    }
    /*Menu*/
    h2{
        font-size:22px;
    }
    .pagesMenu{
        margin:0%;
    }
    .pagesMenu{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .pageTeaser{
        width:70vw;
        max-width: 500px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .odd{
        align-self: center;

    }
    .even{
        align-self: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 800px){
    .navigationMenu{
        overflow: hidden;
        position: relative;
    }

    .toPage a{
        display: none;       
    }

    .logo a{
        display: block;
    }

    .imgHamburgerMenu{
        width:5vw;
        height:auto;
    }

    .navigationMenu a.icon{
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigationMenu a:hover{
        background-color: #ddd;
        color: black;
    }

    .active{
        background-color: #04AA6D;
        color: white;
    }

}

@media screen and (max-width: 480px){
    body{
        font-size:17px;
    }
    /*Bandeau*/
    h1{
        font-size: 26px;
    }
    .imageInBg{
        background-image: url('img/home-grand-prismatic-spring-smaller75.jpg');
    }
    /*Menu*/
    h2{
        font-size: 19px;
    }
    .textBox {
        display: inline-block;
        margin: 0px;
    }


}
/*FOOTER*/
footer{
    display: flex;
    justify-content: end;
    align-items: center;
}

footer{
    background-color: #4B4F40;
    font-family: Arial, sans-serif;
    height: 50px;   
}

footer a{
    display: block;
    width: 150px;
    text-decoration: none;
    color: white; 
    padding: auto 10px;
}