@font-face{
    font-family:'Reddit Mono';
    src: url('./Polices/Reddit_Mono/static/RedditMono-Medium.ttf')
}

@font-face{
    font-family: 'Arial';
    src:url('./Polices/Arial-font/arial_mt_black/ARIBL0.ttf')
}

h1{
    font-size: 64px;
}

#logo{
    height:55px;
    padding: 0px;
    margin:10px 0px 2px 0px;
}

.navigationMenu{
    background-color: #4B4F40;
    font-family: Arial, sans-serif;
}

.navigationMenu ol{
    list-style-type: none;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 12px;
}

.toPage{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.toPage a{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
}


.toPage a span{
    display: block;
    margin: 30px 0px  10px 0px;
}


div.imageInBg{
    background-image: url("img/home-grand-prismatic-spring.jpg");
    height: 50vw;
    display: flex;
    margin: 50px 35px;
}

div.textOverImage{
    background-color: rgba(217, 217, 217, 0.6);
    text-align: center;
    margin: auto;
    padding : 30px 100px;
    font-size: 50px;
    font-family: 'Reddit Mono', sans-serif;
    font-weight: bold;
}

div.pagesMenu{
    display:flex;
    flex-wrap: wrap;
}

div.pageTeaser{
    display: flex;
    flex-direction: row;
    margin: 30px 40px;
    width: 43%;

}

h2{
    font-family: 'Reddit Mono', 'sans-serif';
    margin: 0px 0px 10px 0px;
    text-align: justify;
}


div.imageBox img{
    height: 150px;
    width: 200px;
    margin: 0px auto;
    object-fit: cover;
    background-color: #C7C7E6;
    border: solid black 2px;
}

div.background img{
    background-color: #C7C7E6;
    object-fit: contain;
}


div.textBox{
    text-wrap: wrap;
    margin-left: 30px;
}

div.textBox p{
    margin: 0px;
    text-align: justify;
}