@font-face{
    font-family:'Reddit Mono';
    src: url('../fonts/Reddit_Mono/static/RedditMono-Medium.ttf');
}

@font-face{
    font-family: 'Arial';
    src:url('../fonts/Arial-font/arial_mt_black/ARIBL0.ttf');
}

main{
    margin:0;
    font-family: 'Arial', 'sans-serif';
}

#title{
    font-family: 'Reddit Mono', 'sans-serif';
    font-size: 35px;
    color: black;
    width: 100%;
    text-align: center;
    margin: 6vh 0 6vh 0;
}

.subtitle{
    font-family: 'Reddit Mono', 'sans-serif';
    font-size: 22px;
    color: black;
    width: 100%;
    text-align: start;
    margin: 3vw 0 3vw 12vw;
}

.smalltitle{
    font-family: 'Reddit Mono', 'sans-serif';
    font-size: 19px;
    color: black;
    width: 100%;
    text-align: start;
    margin: 2vw 0 2vw 10vw;
}

section#idCard{
    display:flex;
    flex-direction:column;
    margin: 2.5vw 0;
}

div#tag{
    font-family: 'Reddit Mono', 'sans-serif';
    align-self: flex-end;
    margin-right:12vw;
    padding: 0.4vw 9vw;
    background-color: #9FA290;
    color: white;
}

article#infoCard{
    width:80vw;
    margin:0 auto;
    border: solid 1px black;
    display:flex;
    justify-content:space-between;

    img{
        object-fit: cover;
        width: 35%;
    }
}

div#features{
    padding:5vw;
    p{
        
    font-family: 'Reddit Mono', 'sans-serif';
    }
}


section#location{
    display:flex;
    flex-direction:column;
}

div#containImg{
    align-self:center;
    display:flex;
    flex-direction:column;
    width:80%;
    max-width:970px;
    margin: 1.5vw 3vw;
    border: solid 3px #9FA290;
    img{
        min-width:800px;
        height:auto;
        display:block;
        margin:0;

    }
}

section#comments{
    display:flex;
    flex-direction:column;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 2vw 4vw;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 3vw;
    color: #9fa290;
    cursor: pointer;
}

#nombreEtoiles{
    display:none;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: #4B4F40;
}

#ratingSection {
    display:flex;
    flex-direction:row;
    margin-left: 10vw;
}

#noter{
    margin: 1vw 1.5vw;
    padding: 1.5vw 3vw;
    border-radius: 15px;
    background-color: #8d7c7f;
    border: 3px solid black;
    color: white;
    font-weight: bold;
}

#messageRating{
    margin: 3vw 6vw;
    font-style: italic;
}

#formulaireCommentaire{
    width:70%;
    align-self:center;
    display:flex;
    flex-direction: column;

    label {
        margin: 1vw 1vw 2.2vw 0;
    }

    textarea {
        border: 2px solid #8d7c7f;
    }

    input {
        align-self:center;
        width: 17%;
        margin: 2vw auto;
        padding: 1.5vw 3vw;
        border-radius: 15px;
        background-color: #8d7c7f;
        border: 3px solid black;
        color: white;
        font-weight: bold;
    }
}

#messageComment {
    width:70%;
    align-self:center;
    font-style: italic;
}


.cardRating {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingInfos {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ratingResults {
    width : 80%;
    display: inline-flex;
    flex-direction: row;
    justify-content:center;
    border: 2px solid #4B4F40;
    padding: 6vw 0;
}

.cardComment {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentInfos {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenuCommentaire {
    border: 2px solid #9FA290;
    width:80%;
    padding: 2.5vw;
}




@media screen and (max-width: 1200px){
    div#containImg{
        overflow-x:auto;
    }
}

@media screen and (max-width: 580px){

    #title{
        font-size: 28px;
    }

    .subtitle{
        font-size: 18px;
    }

    p{
        font-size: 14px;
    }
}
