@font-face{
    font-family:'Reddit Mono';
    src: url('../fonts/Reddit_Mono/static/RedditMono-Medium.ttf');
}

@font-face{
    font-family: 'Arial';
    src:url('../fonts/Arial-font/arial_mt_black/ARIBL0.ttf');
}

body{
    margin: 0;
}

a, p{
    font-family: Arial, sans-serif;
}


/*Bandeau*/
.imageInBg{
    background-image: url("../img/home-yellowstone-imgbg.webp");
    background-size : cover;
    height: 50vw;
    display: flex;
    margin: 50px 35px;
}

.textOverImage{
    background-color: rgba(217, 217, 217, 0.6);
    text-align: center;
    margin: auto;
    padding : 1.5vw 5.2vw;
    font-size: 55px;
    font-family: 'Reddit Mono', sans-serif;
    font-weight: bold;
    width: 70%;
}


/*Menu*/
.pagesMenu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.uppage-title{
    font-family: 'Reddit Mono', 'sans-serif';
    font-size: 37px;
    color: black;
    width: 100%;
    text-align: center;
    margin: 3vw 0;
}

.pageTeaser{
    display: flex;
    flex-direction: row;
    margin: 30px 40px;
    width: 43%;

}

.textBox h3{
    font-family: 'Reddit Mono', 'sans-serif';
    margin: 0px 0px 10px 0px;
    color: black;
}

.textBox h3:hover{
    font-size: 1.6em;
}

.imageBox a{
    display: flex;
    width:100%;
    height: 100%;
}

.imageBox a img{
    height: 150px;
    width: 200px;
    margin: 0px auto;
    object-fit: cover;
    background-color: #C7C7E6;
    border: solid black 2px;
}

.imageBox:hover{
    transform: scale(1.2);
}

.background a img{
    background-color: #C7C7E6;
    object-fit: contain;
}


.textBox{
    margin-left: 30px;
}

.textBox p{
    margin: 0px;
    text-align: justify;
}

/*------------------RESPONSIVE------------------*/
@media screen and (max-width: 1286px){
    /*HOMEPAGE MAIN*/

    /*Bandeau*/
    .textOverImage{
        font-size: 50px;
    }

    /*Menu*/
    .pagesMenu{
        flex-direction: column;
        flex-wrap: nowrap;
        width:100%;
        margin-bottom: 30px;
    }

    .uppage-title{
        font-size: 34px;
    }

    .pageTeaser{
        width: 70%;
    }
    .odd{
        background-color: #8D7C7F;
        align-self: self-start;
    }
    .even{
        background-color: #9FA290;
        align-self: self-end;
    }
    .textBox h3{
        margin: 15px 0px 12px 0px;
    }
    .imageBox{
        padding : 0px;
    }
    .textBox{
        padding : 0px 20px;
        margin-left: 15px;
    }

}

@media screen and (max-width: 980px){
    body{
        margin: 0px;
    }

    /*Bandeau*/
    .textOverImage{
        font-size: 46px;
    }


    /*Menu*/
    .pagesMenu{
        flex-direction : row;
        flex-wrap: wrap;
    }

    .uppage-title{
        font-size: 32px;
    }

    .odd{
        flex-direction : column;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .even{
        flex-direction: column-reverse;
        margin-top: 100px;
        margin-bottom: 0px;
        
    }
    .pageTeaser{
        width: 40vw;

    }
    .imageBox{
        width:39.6vw;
        height:30vw;
        border: solid black 2px;
    }
    .pageTeaser .imageBox img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border : none;
    }

    .pageTeaserBg .imageBox{
        background-color: #C7C7E6;
        display : flex;
    }
    .pageTeaserBg .imageBox img{
        width: auto;
        object-fit: contain;
        margin : 0px auto;
    }

    .textBox{
        margin: 10px;
        padding:15px;
    }
}

@media screen and (max-width: 900px){
    /*Bandeau*/
    .textOverImage{
        font-size: 38px;
        width : 48vw;
    }

    /*Menu*/

    
    .uppage-title{
        font-size: 27px;
    }

    .textBox h3{
        font-size:22px;
    }
    .pagesMenu{
        margin:0%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .pageTeaser{
        width:70vw;
        max-width: 500px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .odd{
        align-self: center;

    }
    .even{
        align-self: center;
        flex-direction: column;
    }
    .imageBox{
        width:99%;
    }
}
@media screen and (max-width: 800px){

    /*Bandeau*/
    .textOverImage{
        font-size : 33px;
    }
    /*Menu*/
    .uppage-title{/*remplace .pagesMenu h2*/
        font-size: 24px;
    }

}

@media screen and (max-width: 580px){
    /*Bandeau*/
    .textOverImage{
        font-size : 28px;
    }
    /*Menu*/
    .uppage-title{
        font-size: 21px;
    }
}


@media screen and (max-width: 480px){
    body{
        font-size:17px;
    }

    /*Bandeau*/
    .textOverImage{
        font-size : 5vw;
    }
    /*Menu*/

    .uppage-title{
        font-size: 20px;
    }

    .textBox h3{
        font-size: 18px;
    }
}
