@font-face{
    font-family:'Reddit Mono';
    src: url('../Polices/Reddit_Mono/static/RedditMono-Medium.ttf')
}

@font-face{
    font-family: 'Arial';
    src:url('../Polices/Arial-font/arial_mt_black/ARIBL0.ttf')
}



/* HEADER */

header{
    margin-bottom: 100px;
}
#logo{
    height:65px;
    padding: 0px;
    margin:10px 0px 2px 0px;
}

#logo:hover{
    scale:1.2;
}

.navigationMenu{
    background-color: #4B4F40;
    font-family: Arial, sans-serif;
}

.navigationMenu ol{
    list-style-type: none;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px 0px 12px;
}

.navigationMenu a.icon{
    display: none;
}

.toPage{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    display: block;
}

.toPage a{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    
}
.toPage a:hover{
    text-decoration: underline;
}

.logo{
    display: block;
}

.toPage a span{
    display: block;
    margin: 30px 0px  10px 0px;
}



/* HOMEPAGE MAIN*/

/*Bandeau*/
.imageInBg{
    background-image: url("../img/home-grand-prismatic-spring.jpg");
    background-repeat: no-repeat;
    height: 50vw;
    display: flex;
    margin: 50px 35px;
}

.textOverImage{
    background-color: rgba(217, 217, 217, 0.6);
    text-align: center;
    margin: auto;
    padding : 1.5vw 5.2vw;
    font-size: 55px;
    font-family: 'Reddit Mono', sans-serif;
    font-weight: bold;
    width: 70%;
}


/*Menu*/
.pagesMenu{
    display:flex;
    flex-wrap: wrap;
    /*modif dessous*/
    justify-content: space-between;
}

.pageTeaser{
    display: flex;
    flex-direction: row;
    margin: 30px 40px;
    width: 43%;

}

h2{
    font-family: 'Reddit Mono', 'sans-serif';
    margin: 0px 0px 10px 0px;
    color: black;
}

h2:hover{
    font-size: 1.6em;
}

.imageBox a{
    display: flex;
    width:100%;
    height: 100%;
}

.imageBox a img{
    height: 150px;
    width: 200px;
    margin: 0px auto;
    object-fit: cover;
    background-color: #C7C7E6;
    border: solid black 2px;
}

.imageBox:hover{
    scale: 1.2;
}

.background a img{
    background-color: #C7C7E6;
    object-fit: contain;
}


.textBox{
    margin-left: 30px;
}

.textBox p{
    margin: 0px;
    text-align: justify;
}


/*FOOTER*/

footer{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #4B4F40;
    font-family: Arial, sans-serif;
}

footer a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 1.5vw 4vw;
    text-wrap: nowrap;
}

footer a:hover{
    text-decoration: underline;
}

/*------------------RESPONSIVE------------------*/
@media screen and (max-width: 1286px){
    /*HOMEPAGE MAIN*/

    /*Bandeau*/
    .textOverImage{
        font-size: 50px;
    }

    /*Menu*/
    .pagesMenu{
        flex-direction: column;
        flex-wrap: nowrap;
        width:100%;
        margin-bottom: 30px;
    }
    .pageTeaser{
        width: 70%;
    }
    .odd{
        background-color: #8D7C7F;
        align-self: self-start;
    }
    .even{
        background-color: #9FA290;
        align-self: self-end;
    }
    h2{
        margin: 15px 0px 12px 0px;
    }
    .imageBox{
        padding : 0px;
    }
    .textBox{
        padding : 0px 20px;
        margin-left: 15px;
    }

}

@media screen and (max-width: 980px){
    body{
        margin: 0px;
    }
    /*HOMEPAGE MAIN*/

    /*Bandeau*/
    .textOverImage{
        font-size: 46px;
    }
    .imageInBg{
        background-image: url('../img/home-grand-prismatic-spring-smaller25.jpg');

    }

    /*Menu*/
    .pagesMenu{
        flex-direction : row;
        flex-wrap: wrap;
    }
    .odd{
        flex-direction : column;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .even{
        flex-direction: column-reverse;
        margin-top: 100px;
        margin-bottom: 0px;
        
    }
    .pageTeaser{
        width: 40vw;

    }
    .imageBox{
        width:39.6vw;
        height:30vw;
        border: solid black 2px;
    }
    .pageTeaser .imageBox img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border : none;
    }

    .pageTeaserBg .imageBox{
        background-color: #C7C7E6;
        display : flex;
    }
    .pageTeaserBg .imageBox img{
        width: auto;
        object-fit: contain;
        margin : 0px auto;
    }

    .textBox{
        margin: 10px;
        padding:15px;
    }
}

@media screen and (max-width: 900px){
    
    /*HOMEPAGE MAIN*/

    /*Bandeau*/
    .textOverImage{
        font-size: 38px;
        width : 48vw;
    }
    .imageInBg{
        background-image: url('../img/home-grand-prismatic-spring-smaller50.jpg');
    }

    /*Menu*/
    h2{
        font-size:22px;
    }
    .pagesMenu{
        margin:0%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .pageTeaser{
        width:70vw;
        max-width: 500px;
        margin-top:20px;
        margin-bottom:20px;
    }
    .odd{
        align-self: center;

    }
    .even{
        align-self: center;
        flex-direction: column;
    }
    .imageBox{
        width:99%;
    }
}
@media screen and (max-width: 800px){
    /*HEADER*/
    .logo{
        position : absolute;
        top: 0;
        left: 0;
    }

    .navigationMenu ol{
        flex-wrap: wrap;
        margin-top: 90px;
        align-items: center;
    }

    .toggle{
        display: none;
        margin: 0 1vw;       
    }

    .toggle a span{
        min-width: 40vw; 
        margin: 2vw 0;
    }

    .imgHamburgerMenu{
        width:40px;
        height:auto;
        padding: 20px 10px 0px 0px;
    }

    .navigationMenu a.icon{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /*HOMEPAGE MAIN*/
    /*Bandeau*/
    .textOverImage{
        font-size : 33px;
    }

}

@media screen and (max-width: 580px){
    /*HEADER*/
    .toggle a span{
        font-size: 12.5px;
    }

    /*HOMEPAGE MAIN*/
    /*Bandeau*/
    .textOverImage{
        font-size : 28px;
    }
    .imageInBg{
        background-image: url('../img/home-grand-prismatic-spring-smaller75.jpg');
    }

    /*FOOTER*/
    footer a{
        font-size: 12.5px;
    }
}


@media screen and (max-width: 480px){
    body{
        font-size:17px;
    }

    /*HOMEPAGE MAIN*/
    /*Bandeau*/
    .textOverImage{
        font-size : 5vw;
    }
    /*Menu*/
    h2{
        font-size: 19px;
    }

    /*FOOTER*/
    footer{
        justify-content: start;
        flex-wrap : wrap;
        padding :0 3vw;
    }
}
